/* ======= Base =======*/
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

*::selection {
    color: rgb(0, 0, 0);
}

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --main-color: #1c1e2a;
    --second-main-color: #fff;
}
html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-color);
}

body.active {
    color: var(--main-color) !important;
    background: var(--second-main-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
p {
    margin: 0;
    color: #fff;
}

ul {
    margin: 0;
    list-style: none;
}
li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding: 6rem 0 6rem;
}

.section__title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: var(--second-main-color);
}

.bd-grid {
    display: grid;
    gap: 1rem;
    max-width: 1017px;
    margin-left: auto;
    margin-right: auto;
}

/* ======= Navbar =======*/
.container {
    max-width: 1150px;
    margin: auto;
    padding: 15px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 0;
}

.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header::before {
    content: "";
    position: absolute;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #1c1e2a;
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.45);
    transition: top 0.3s;
}

.header.activeMenu::before {
    top: 0;
}

.header {
    .logo {
        position: relative;
        display: flex;
        color: var(--second-main-color);
        font-size: 1.5rem;
    }
}

.nav__item {
    display: inline-block;
    margin-left: 1rem;
}

.nav__item {
    .nav__link {
        display: block;
        color: var(--second-main-color);
        font-weight: 600;
    }
}

@media screen and (max-width: 600px) {

    .logo {
        margin-left: 50px;
    }
    .nav__list {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #313446;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        transition: .3s;
    }

    .nav__list.active {
        right: 0;
    }

    .nav__list .nav__item .nav__link {
        display: block;
        margin-bottom: 15px;
    }
}
/* ======= HOME =======*/
.home {
    position: relative;
    padding: 6rem 0 5rem;
    &__data {
        margin-left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
        text-align: center;
        color: var(--second-main-color);
        width: 370px;
    }
    &__btn {
        display: block;
        margin-top: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 10px 50px;
        border: none;
        outline: none;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: .3s;
        background: var(--second-main-color);
    }
    &__btn:hover {
        background: rgb(158, 156, 156);
    }

    @media screen and (max-width: 600px) {
        &__data {
            font-size: 18px;
            width: 280px;
        }
    }
}

/* ======= ABOUT =======*/
.about {
    position: relative;
    padding: 4rem 0 5rem;
}

/* ======= WORK =======*/
.work {
    position: relative;
    padding: 4rem 0 5rem;
    &__container {
        display: flex;
        justify-content: center;
    }
    &__row {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    &__card {
        display: grid;
        max-width: 380px;
        border-radius: 0.75rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s;
        }
    }
    &__card:hover img {
        transform: scale(1.1);
    }

    @media screen and (max-width: 600px) {
        &__row {
            grid-template-columns: repeat(1, 1fr);
        }
        &__container {
            padding: 20px;
        }
    }
}

/* ======= FOOTER =======*/
.footer {
    padding: 70px 0;
    background:  #313446;
    &__container {
        position: relative;
        max-width: 350px;
        margin: auto;
    }
    &__data {
        text-align: center;
        width: 350px;
    }
    &__data p {
        position: absolute;
        margin-top: 25px;
        font-size: 15px;
        font-weight: 600;
    }
    &__social li {
        display: inline-block;
        margin-left: 1rem;
    }
    &__social li a {
        display: block;
        font-size: 25px;
        color: #fff;
    }
    &__data h2 {
        font-size: 2rem;
    }

    @media screen and (max-width: 600px) {
        &__data p {
            margin-top: 23px;
            margin-left: 50%;
            transform: translateX(-50%);
            width: 200px;
        }
    }
}


/* ======= NAV HUMBGER =======*/
.nav__humbger {
    position: absolute;
    display: none;
    right: 1.5rem;
    top: 2.1rem;
    z-index: 2;
    width: 35px;
    height: 35px;

    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .nav__humbger {
        display: block;
    }

    .nav__humbger .bar, .nav__humbger::before, .nav__humbger::after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        margin: 6px 0;
        border-radius: .75rem;
        background: #fff;
        transition: .3s ease-in-out;
    }

    .nav__humbger.active::before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .nav__humbger.active::after {
        transform: rotate(45deg) translate(-9px, -8px);   
    }

    .nav__humbger.active .bar {
        opacity: 0;
    }
}

/* =======  =======*/
/* =======  =======*/
