/* ======= Base =======*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

*::selection {
  color: var(--main-color);
  background: #000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 0.75rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #ffff;
  --second-color: #25241e;

  --primary-s-color: rgb(255, 255, 255, 0.2);
  --primary-m-color: rgb(27, 42, 70);

  --main-color: #ef8c34;
}

body {
  background: var(--second-color);
  transition: 0.5s;
}

.dark-theme {
  --primary-color: rgb(0, 0, 0);
  --primary-s-color: rgb(0, 0, 0, 0.2);
  --primary-m-color: #f1f1f1;
  --second-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  color: var(--primary-color);
}

ul {
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 6rem 0 6rem;
}

.section__title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "Righteous", sans-serif;
}

.gray {
  color: gray;
}

.mbg {
  margin: 0.25rem 0 0.25rem;
}

.mbw750 {
  font-weight: 600;
}

.bd-grid {
  display: grid;
  gap: 1rem;
  max-width: 1027px;
  margin: 0 auto;
}

/* ==== ANIMATION LOADING ===== */
.load {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 100;
  background: var(--second-color);
  transition: opacity 1s, background 0.5s;
  &__center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__box {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: move 500ms linear 0ms infinite;
    margin-right: 30px;
    &:first-child {
      position: absolute;
      top: 0;
      left: 0;
      animation: grow 500ms linear 0ms infinite;
    }

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      animation: grow 500ms linear 0s infinite reverse;
    }
  }
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}

.load.active {
  opacity: 0;
  z-index: -1;
}

/* ======= COOKIE =======*/
.cookie {
  position: fixed;
  display: flex;
  width: 340px;
  background: var(--second-color);
  bottom: -100%;
  margin-left: 100%;
  opacity: 0;
  z-index: 50;
  pointer-events: none;
  padding: 60px;
  border-radius: 0.75rem;
  box-shadow: 0 1px 35px rgb(0, 0, 0, 0.2);
  transition: bottom 0.8s, opacity 0.8s, margin-left 0.8s;
  &__img img {
    margin-bottom: 2rem;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  &__details {
    margin-left: 8px;
    width: 100%;
  }
  &__boxBtn {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }
  &__btn {
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 0.75rem;
    color: var(--second-color);
    background: var(--main-color);
    cursor: pointer;
    transition: all 0.3s;
  }
  &__btn:hover {
    transform: translateY(-5%);
    background: #b9b6b6;
    color: #000;
  }
}

.cookie.show {
  margin-left: 73%;
}

.cookie.active {
  bottom: 2rem;
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 871px) {
  .cookie.show {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

/* ======= Navbar =======*/
.container {
  max-width: 1120px;
  margin: auto;
  padding: 15px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 10px 0;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--second-color);
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.45);
  transition: top 0.3s;
}

.header.activeMenu::before {
  top: 0;
}

.header {
  .logo img {
    position: relative;
    display: flex;
    cursor: pointer;
    color: var(--primary-color);
    width: 45px;
    border-radius: 3.5rem;
  }
}

.nav__menu {
  .nav__item {
    display: inline-block;
    margin-left: 1rem;
  }
}

.nav__item {
  .nav__link {
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px;
    border-radius: 0.75rem;
    color: var(--primary-color);
    transition: 0.3s;
  }
  .nav__link.active {
    color: var(--main-color);
  }
  .nav__link:hover {
    max-width: 100%;
    padding: 7px 10px;
    background: #141818;
    color: #fff;
  }
  .nav__link i {
    font-size: 20px;
    color: var(--main-color);
    margin-right: 0.45rem;
  }
  .nav__darkmode {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    color: var(--main-color);
    border-radius: 0.25rem;
    font-size: 20px;
    background: transparent;
    border: none;
    transition: 0.3s;
  }
  .nav__darkmode:hover {
    max-width: 100%;
    background: #141818;
    border-radius: 2rem;
  }
}

.nav {
  /* ======= NAV HUMBGER =======*/
  &__humbger {
    position: absolute;
    display: none;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 100;
    border: none;
    width: 38px;
    height: 38px;

    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    &__humbger {
      display: block;
    }

    &__humbger .bar,
    &__humbger::before,
    &__humbger::after {
      content: "";
      display: block;
      width: 35px;
      height: 5px;
      margin: 6px 0;
      border-radius: 0.75rem;
      background: var(--primary-color);
      transition: 0.3s ease-in-out;
    }

    &__humbger.active::before {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    &__humbger.active::after {
      transform: rotate(45deg) translate(-9px, -8px);
    }

    &__humbger.active .bar {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-left: 50px;
  }
  .nav__list {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-s-color);
    backdrop-filter: blur(12px);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 99;
    transition: 0.3s;
  }

  .nav__list.active {
    right: 0;
  }

  .nav__list .nav__item .nav__link {
    display: block;
    margin-bottom: 15px;
  }
}

/* ======= HOME =======*/
.home {
  padding: 4rem 0 5rem;
  &__main {
    display: flex;
    max-width: 1130px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__data {
    font-size: 18px;
    padding: 15px;
    width: 670px;
  }
  &__data h2 {
    font-size: 2.5rem;
  }
  &__data span {
    position: relative;
    color: var(--main-color);
  }
  &__data .auto-type::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0.75rem;
    background: var(--main-color);
  }
  &__data p {
    transform: translateY(-100%);
    opacity: 0;
  }
  &__img {
    max-width: 270px;
    overflow: hidden;
  }
  &__img img {
    transform: translateX(110%);
    opacity: 0;
    border-radius: 50%;
  }
  &__btn {
    display: inline-block;
    margin: 25px 8px 0;
    font-size: 16px;
    padding: 10px 45px 10px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    box-shadow: 0 14px 15px 0px rgb(0, 0, 0, 0.2);
    outline: none;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
    overflow: hidden;
    background: transparent;

    transform: translateY(100%);
    opacity: 0;
  }
  &__btn::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    color: var(--second-color);
    background: var(--main-color);
    transition: 0.4s;
  }
  &__btn:hover::before {
    height: 100%;
  }
  &__btn:hover {
    border: 2px solid var(--main-color);
  }
  @media screen and (max-width: 600px) {
    &__data {
      font-size: 18px;
      width: auto;
    }
    &__data h2 {
      font-size: 1.5rem;
    }
    &__btn {
      width: 160px;
    }
    &__btn {
      width: 170px;
    }
  }
}

/* =======  Particles Js =======*/
#particles-js {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

/* ======= SKILLS =======*/
.skills {
  &__container {
    position: relative;
    display: grid;
    max-width: 1017px;
    gap: 1rem 2rem;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  &__grid {
    display: grid;
    gap: 1.5rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  &__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    padding: 15px;
    border-radius: 0.75rem;
    background: var(--second-color);
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.2);
  }
  &__title {
    text-align: center;
    margin: 0 0 2rem;
  }
  &__data {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: var(--primary-color);
    padding: 0.5rem 6rem;
    position: relative;
  }
  &__img {
    width: 480px;
  }
  &__img img {
    border-radius: 0.75rem;
  }
  &__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    border-radius: 0.75rem;
    background: rgb(97, 125, 255);
  }
  &__css {
    width: 85%;
  }
  &__html5 {
    width: 96%;
  }
  &__js {
    width: 55%;
  }
  &__ux {
    width: 85%;
  }
  &__card h2 {
    position: relative;
    font-size: 20px;
  }
  &__card h2 i {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: var(--main-color);
  }
  @media screen and (max-width: 600px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
    &__img {
      width: 320px;
      margin: 0 auto;
    }
  }
}

/* ======= CONTACT =======*/
.contact {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  &__data {
    width: 480px;
  }
  &__data form {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  &__data input,
  textarea {
    position: relative;
    border: none;
    color: var(--primary-color);
    background: transparent;
    padding: 0;
  }
  label {
    position: absolute;
    display: block;
    top: 50%;
    left: 5px;
    color: var(--primary-color);
    transform: translateY(-50%);
    transition: 0.3s;
  }
  i {
    right: 8px;
  }
  &__label-box {
    position: relative;
  }
  &__data #email {
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
    z-index: 2;
    outline: none;
  }
  &__data #name {
    padding: 15px;
    border-bottom: 2px solid var(--primary-color);
    width: 100%;
    outline: none;
  }
  &__data input:focus ~ label,
  &__data input:valid ~ label {
    top: -5px;
  }
  &__data #email:focus {
    border-bottom: 2px solid var(--main-color);
  }
  &__data #name:focus {
    border-bottom: 2px solid var(--main-color);
  }

  &__data #message {
    padding: 15px;
    width: 100%;
    resize: none;
    border: none;
    background: var(--second-color);
    box-shadow: 0 1px 15px rgb(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    outline: none;
  }
  &__data #submit {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    z-index: 2;
    font-weight: 600;
    border-radius: 0.75rem;
    cursor: pointer;
    color: var(--primary-color);
    background: var(--main-color);
    transition: 0.3s;
  }

  &__data #submit:hover {
    background: #49ad3e;
  }
}

/* ======= PROJETS =======*/
.projets {
  &__container {
    display: grid;
    max-width: 1027px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
  }
  &__cardprojets {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--second-color);
    border-radius: 0.75rem;
    box-shadow: 0 15px 15px rgb(0, 0, 0, 0.2);
    max-width: 332px;
    padding: 20px 20px 35px;
  }
  &__img-container {
    position: relative;
    margin: 0 auto 24px;
    max-width: 240px;
  }
  &__cardsimg {
    border-radius: 0.75rem;
  }
  &__data {
    text-align: center;
  }
  &__button-container {
    position: relative;
    margin: 0 auto 8px;
    bottom: -20px;
  }
  &__button {
    display: block;
    padding: 10px 70px;
    border-radius: 0.75rem;
    background: var(--main-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__button:hover {
    background: #49ad3e;
  }
  @media screen and (max-width: 876px) {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

/* ======= FOOTER =======*/
.footer {
  padding: 70px 0;
  background: var(--second-color);
  &__container {
    position: relative;
    max-width: 350px;
    margin: auto;
  }
  &__data {
    text-align: center;
    width: 350px;
  }
  &__data p {
    position: absolute;
    margin-top: 23px;
    font-size: 15px;
    font-weight: 600;
  }
  &__social &__item {
    display: inline-block;
    margin-left: 0.45rem;
  }
  &__social &__item &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    z-index: 2;
    font-size: 25px;
    border-radius: 0.75rem;
    overflow: hidden;
    color: var(--primary-color);
    transition: 0.4s;
  }

  &__data &__item &__icon::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    border-radius: 0.75rem;
    background: var(--main-color);
    transition: 0.4s;
  }
  &__data &__item &__icon:hover::before {
    height: 100%;
  }
  &__data h2 {
    font-size: 2rem;
  }

  @media screen and (max-width: 600px) {
    &__data p {
      margin-top: 23px;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 200px;
    }
  }
}

/* ======= Button Scroll To Top =======*/
.btnScrollToTop::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0%;
  background: var(--main-color);
  transition: 0.4s;
}

.btnScrollToTop:hover::before {
  height: 100%;
}

.btnScrollToTop:hover {
  color: #fff;
  border: 2px solid #fff;
}

.btnScrollToTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1.5rem;
  right: -6rem;
  width: 64px;
  height: 64px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  font-size: 2.5rem;
  border-radius: 2rem;
  color: #000;
  overflow: hidden;
  box-shadow: 0 1px 16px rgb(0, 0, 0, 0.2);
  transition: right 0.5s, opacity 0.5s;
  animation-name: btnScrollToTop;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.btnScrollToTop.active {
  right: 1.5rem;
  opacity: 1;
}

@keyframes btnScrollToTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
