/* Error: expected "{".
 *      ,
 * 1944 | >>>>>>> refs/remotes/origin/master
 *      |                                   ^
 *      '
 *   assets\sass\styles.scss 1944:35  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a      \2577 \a 1944 \2502  >>>>>>> refs/remotes/origin/master\a      \2502                                    ^\a      \2575 \a   assets\\sass\\styles.scss 1944:35  root stylesheet';
}
